/* ==================================
Fonts for erg.be
* Latin Modern Mono, for ui elements, non-labor text.
* Lucette Regular, for labor text, and maybe titles ?
* > alt BXLine ?
* figura, for title
* NEWS banner multiple fonts ?
* > figura
* > bx line
* > lucette
* > espatarra

   ================================== */

@font-face {
        font-family: 'Latin Modern Mono';
        font-weight: normal;
        font-style: normal;
        src: url('lmmono10-regular.eot');
        src: url('lmmono10-regular.eot?#iefix') format('embedded-opentype'),
        url('lmmono10-regular.woff') format('woff'),
        url('lmmono10-regular.otf') format('opentype');
}

@font-face {
        font-family: 'Latin Modern Mono';
        font-weight: normal;
        font-style: italic;
        src: url('lmmono10-italic.eot');
        src: url('lmmono10-italic.eot?#iefix') format('embedded-opentype'),
        url('lmmono10-italic.woff') format('woff'),
        url('lmmono10-italic.otf') format('opentype');
}

@font-face {
        font-family: 'Latin Modern Mono';
        font-weight: bold;
        font-style: normal;
        src: url('lmmonolt10-bold.eot');
        src: url('lmmonolt10-bold.eot?#iefix') format('embedded-opentype'),
        url('lmmonolt10-bold.woff') format('woff'),
        url('lmmonolt10-bold.otf') format('opentype');
}

@font-face {
        font-family: 'Lucette Regular';
        font-weight: normal;
        font-style: normal;
        src: url('Lucette-Regular.eot');
        src: url('Lucette-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lucette-Regular.woff') format('woff'),
        url('Lucette-Regular.otf') format('opentype');
}

@font-face {
        font-family: 'Lucette Regular';
        font-weight: normal;
        font-style: italic;
        src: url('Lucette-Regularitalic.eot');
        src: url('Lucette-Regularitalic.eot?#iefix') format('embedded-opentype'),
        url('Lucette-Regularitalic.woff') format('woff'),
        url('Lucette-Regularitalic.otf') format('opentype');
}

@font-face {
        font-family: 'BX Line';
        font-weight: normal;
        font-style: normal;
        src: url('BXlinePC-Normal.eot');
        src: url('BXlinePC-Normal.eot?#iefix') format('embedded-opentype'),
        url('BXlinePC-Normal.woff') format('woff'),
        url('BXlinePC-Normal.otf') format('opentype');
}

@font-face {
        font-family: 'BX Line';
        font-weight: normal;
        font-style: italic;
        src: url('BXlineItalique.eot');
        src: url('BXlineItalique.eot?#iefix') format('embedded-opentype'),
        url('BXlineItalique.woff') format('woff'),
        url('BXlineItalique.otf') format('opentype');
}

@font-face {
        font-family: 'Figura';
        font-weight: normal;
        font-style: normal;
        src: url('figura.eot');
        src: url('figura.eot?#iefix') format('embedded-opentype'),
        url('figura.woff') format('woff'),
        url('figura.otf') format('opentype');
}

@font-face {
        font-family: 'Espatarra';
        font-weight: normal;
        font-style: normal;
        src: url('espatarra-regular.eot');
        src: url('espatarra-regular.eot?#iefix') format('embedded-opentype'),
        url('espatarra-regular.woff') format('woff'),
        url('espatarra-regular.otf') format('opentype');
}

