/* html, body {
color:#FFF;
background:#000;
}
 */

h1 {
	font-family:"Figura";
	margin-left:15px;
}

a, a:hover, a:visited {
	color:#000;
	text-decoration:none;
}
#left {
}

.fixed {
	position:fixed;
}

nav {
	display:inline-block;
	font-family:"Latin Modern Mono"
}

nav ul li {
	list-style-type:none;
	line-height:120%;
}

nav ul li a:before {
	content:"[ ] ";
}

nav ul li a:hover:before {
	content:"[x] ";
}

main {
	vertical-align:top;
	margin-left:25px;
	display:inline-block;
	width:60%;
}

main p {
	font-family:"Lucette Regular";
	font-family:"BX Line";
	font-size:16pt;
}
main p:hover {
	font-family:"Lucette Regular";
}

main p span {
	font-family:"Figura";
	font-size:12pt;
}

footer {
	position:fixed;
	bottom:0;

	width:100%;
	height:30pt;

	white-space:nowrap;

	margin:0;
	padding:0;

	color:#fff;
	background:#000;
	overflow-x:hidden;

	font-size:18pt;
	font-family:"Figura", cursive;
}

footer h4 {
	font-family:"BX Line";
	font-style:italic;
	margin:0;
	padding:5px 8px 6px 8px;
	position:fixed;
	bottom:0;
	background-color:grey;
	vertical-align:middle;
}

footer a, footer a:visited, footer a:hover {
	color:#fff;
}

footer ul {
	width:1000%;
	margin:0;
	padding:5px 0 5px 0;
}

footer ul li {
	display:inline;
	list-style-type:none;
	margin: 0 15px;
}

footer ul li span {
	background:#fff;
	color:#000;

	border-radius:6px 6px;

	vertical-align:middle;

	padding: 3px 12px;

	font-size:12pt;
	font-family:"Latin Modern Mono", monospace;
	font-weight:bold;
}

/* ==== css marquee ==== */

/*
.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;
    background:-webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%);
    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;
    background:-webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%);
    width:25%;
    height:100%;
}
ul{
    background:#ddd;
    overflow:hidden;
    width:1000%;
    margin:0;
}
li{
    list-style:none;
    display:inline-block;
    padding:0 50px;
}     
*/
footer ul {
	animation:marquee 60s linear infinite;
}

@keyframes marquee {
	from{transform:translateX(0); }
	to{transform:translateX(-50%); }
}

/* ==== specimen helpers ==== */

.bx_line { font-family:"BX Line", cursive; }
.figura { font-family:"Figura", cursive; }
.lucette { font-family:"Lucette Regular", cursive; }
.espatarra { font-family:"Espatarra", cursive; }
.giskith { font-family:"Giskith", cursive; }


/* ==== dark mode ? ===== */

.dark {
	color:#FFF !important;
	background:#000 !important;
}

.dark a {
	color:#fff;
}

/* ==== random helpers ==== */
footer h4 {display:none}
