/* html, body {
	color:#FFF;
	background:#000;
}
 */

h1 {
	font-family:"Figura";
	margin-left:15px;
}

a, a:hover, a:visited {
	color:#000;
	text-decoration:none;
}

nav {
	display:inline-block;
	font-family:"Latin Modern Mono"
}

nav ul li {
	list-style-type:none;
	line-height:120%;
}

nav ul li a:before {
	content:"[ ] ";
}

nav ul li a:hover:before {
	content:"[x] ";
}

main {
	vertical-align:top;
	margin-left:25px;
	display:inline-block;
	width:60%;
}

main p {
	font-family:"Lucette Regular";
	font-family:"BX Line";
	font-size:16pt;
}
main p:hover {
	font-family:"Lucette Regular";
}

main p span {
	font-family:"Figura";
	font-size:12pt;
}

footer {
	position:fixed;
	bottom:0;

	width:100%;

	margin:0;
	padding:0;

	color:#fff;
	background:#000;
	overflow-x:hidden;

	font-size:18pt;
	font-family:"Figura", cursive;
}

footer h4 {
	font-family:"BX Line";
	font-style:italic;
	margin:0;
	padding:5px 8px 6px 8px;
	position:fixed;
	bottom:0;
	background-color:grey;
	vertical-align:middle;
}

footer a, footer a:visited, footer a:hover {
	color:#fff;
}

footer ul {
	margin:0;
	padding:5px 0 5px 0;
}

footer ul li {
	display:inline;
	list-style-type:none;
}

footer ul li span {
	vertical-align:middle;
	font-size:12pt;
	font-family:"Latin Modern Mono", monospace;
}

/* ==== dark mode ? ===== */

.dark {
	color:#FFF !important;
	background:#000 !important;
}

.dark a {
	color:#fff;
}
